html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  background-image: url('/img/bg_laganga.png');
  background-size: cover;
}

#root {
  height: 100%;
}

.banner-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}

.banner-home {
  margin-top: 2rem;
}

.grid-container{
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.card-home {
  border: 0.1rem #F31454 solid;
  border-radius: 0.5rem;
}

.header {
  grid-area: header;
  background-color: #F0F0F0;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  height: 5rem;
}

.brand a{
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.brand .logo {
  margin-left: 4rem;
}

.header-links a{
  color: #000000;
  text-decoration: none;
  padding: 1rem;
}

.header-links a:hover{
  color: #F31454;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: #7487FC;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}

a:hover{
  color: #F31454;
}

/* Home Screem */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 35rem;
  border-bottom: .1rem #c0c0c0 solid;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2rem;
}


.product-name{
  font-size: 2rem;
  font-weight: bold;
}
.product div {
  padding: 0.5rem;
}

.product-brand{
  font-size: 1.2rem;
  color: #808080;
}

.product-price{
  font-size: 2rem;
  font-weight: bold;
}

.product-image {
  max-width: 22rem;
  max-height: 22rem;
}

.product-rating {
  margin-bottom: 1rem;
}

.product-descuento {
  position: absolute;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.6rem;
  background-color: chartreuse;
}

/* SIderbar */

.brand button {
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transition: 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: .1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: 1.5rem;
}

.logo {
  width: 15rem;
  height: 5rem;
  padding: .5rem;
  margin-top: 1rem;
}

/* Detalles del producto */

.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.details-image {
  flex: 1 1 60rem;
  justify-content: center;
}

.details-image img {
  max-width: 50rem;
  width: 100%;
}

.details-info {
  flex: 3 1 30rem;
}

.button-web {
  padding:1rem 5rem;
  font-size: 1.7rem;
  color: #000000;
  font-weight: bold;
  outline: none;
  background-color: #7487FC;
  border: none;
  border-radius:5px;
  cursor: pointer;
  text-decoration: none;
}

.button-web:hover{
  background-color: #7486fcb4;
}


.details-action {
  flex: 1 1 30rem;
}


.details-info ul, .details-action ul {
  list-style-type: none;
  padding: 0;
}

.details-info li, .details-action line {
  margin-bottom: 1rem;
}

.back-to-result {
  padding: 1rem;
}

.details-action {
  border: .1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 1rem;
  padding: 1rem;
  border: .1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  border: .1rem #404040 solid;
}

.button.primary {
  background-color: #FDCD4F;
}


/* Formulario */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input {
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
}


